body{
  background-image:url(../img/fondo.PNG);
  

}


header, .alert{
  display: flex;
  flex-direction: row;
  z-index: 100;
}
.titulo{
  color:beige;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  animation-name: cambiar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  
  
}

@keyframes cambiar {
  0% {background-color: aqua;}
  75% {background-color:blue;}
  100% {background-color: rgb(25, 237, 78);}
}
.nav{
  
  width: 60%;

}
li{
  font-size: 2rem;
  margin-top:20px;
  margin-left: 20px;
}
.logo{
  width: 150px;
  
}

.img-carr{
  height: 450px;
  border: solid 5px rgb(246, 245, 245);
  border-radius: 20px;
}
.description{
  height: 25px;
  overflow: hidden;
  transition: height .3s ease-in .3s;
}
.description:hover{
  height: 80px;
}
.carrito{
  min-height: 80vh;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}
.table__productos{
  display: flex;
}
.table__productos > img{
  width: 7rem;
  object-fit: contain;
  border-radius: 6px;
  margin-right: 20px;
}
.table__cantidad > input{
  width: 30px;
  border: none;
  outline: 0;
  font-size: 16px;
  font-weight: 700;
  margin-right: 30px;
  margin-bottom: 20px;
}
.hide, .remove{
  display: none;
}

.final{
  height: 40vh;
  background-color: black;
  margin-top: 200px;
}
.menu-footer{
  display:flex;
  flex-direction: row;
  justify-content:center;
  
}
.final h2{
  color: rgb(253, 209, 13);
  font-size: 2rem;
  text-align: center;
}

.lista-footer{
  padding: 50px;
  text-decoration:none;
  color: aliceblue;
}

.parr_footer{
  color: aliceblue;
  text-align: center;
}
.subt{
  margin-bottom: 100px;
  border: solid 2px tomato;
  background-color: tomato;
  border-radius: 8px;
  color: aqua;
  margin-top: 100px;
  text-align: center;
}

table{
  width: 80%;
  position: relative;
  margin-left: 10%;
  
}
tr{
  
  border: solid 3px rgb(123, 0, 255);
  background-color: rgb(248, 247, 244);
  
}
th{
  border: solid 3px teal;
  font-size: 1.5rem;
  color: black;
}
td{
  font-size: 1.3rem;
  border: solid 3px steelblue;
  text-align: left;
}
td:hover{
  
  background-color: rgb(119, 235, 11);
}

.text{
  border: solid 3px;
  background-color: rgb(247, 248, 245);
  color:rgb(20, 19, 19);
  width: 200px;
}

@media only screen and (min-width:320px) and (max-width:768px){
  
  .logo{
    width: 100px;
    height: 120px;
    
  }
  li{
    font-size: 0.8rem;
    margin-top:20px;
    margin: auto;
    
  }
  .img-carr{
    height: 330px;
  }

  .carousel-item{
    margin-top: 40px;
  }

  .final{
    height: 60vh;
    background-color: black;
    margin-top: 200px;
  }

  #table3{
    margin-left: 15px;
    
  }

  .table{
    width: 50%!important;
  }

 
  
  

  
  
  
}